.container{
    display: flex; 
    justify-content: space-between;
}

#header-regular{
    display: none

}

#header-drawer{
    display: block

}

/* bigger than 750px: laptop*/
@media screen and (min-width: 750px) {
    #header-regular{
        display: block;
    }

    #header-drawer{
        display: none;
    }
    
}
